<nav
    class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 mt-4 flex flex-row justify-between items-center h-10 gap-24"
>
    <div>
        <a href="/" class="text-xl font-bold text-green-600">Grill & Thrill</a>
    </div>
    <div>
        <ul class="flex flex-row items-center gap-10">
            <li class="text-xl font-bold">
                <a href="/">Home</a>
            </li>
            <li class="text-xl font-bold">
                <a href="/menu">Menu</a>
            </li>
            <li class="text-xl font-bold">
                <a href="/about">About</a>
            </li>
        </ul>
    </div>
</nav>
