---
import QuoteImage from "../assets/quote.svg";
---

<section class="bg-blue-100 py-12 px-4 sm:px-6 lg:px-8 mt-10 md:mt-36">
    <div class="max-w-3xl mx-auto text-center">
        <img
            src={QuoteImage.src}
            alt="Quote"
            class="mx-auto h-8 w-8 text-amber-400 mb-4"
        />
        <blockquote class="mt-4">
            <p class="text-xl font-medium text-gray-900 italic">
                "One cannot think well, love well, sleep well, if one has not
                dined well"
            </p>
        </blockquote>
        <figcaption class="mt-4">
            <div class="text-amber-600 font-semibold">"Swikar Gautam"</div>
        </figcaption>
    </div>
</section>
